<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />



    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TransporteApp"
        tools:targetApi="31">

        <activity
            android:name=".loginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".signupActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".BuscarSolicitudActivity" />
        <activity android:name=".EnviarUbicacion" />
        <activity android:name=".Rol" />
        <activity android:name=".RolDueno" />
        <activity android:name=".RolConductor" />
        <activity android:name=".Publicadas" />
        <activity android:name=".Estados" />
        <activity android:name=".Asignar" />
        <activity android:name=".AplicarSolicitud" />
        <activity android:name=".Cargas" />
        <activity android:name=".SolicitarUbicacion" />
        <activity android:name=".EnviarMensaje" />
        <activity android:name=".FormularioPubliCarga" android:label="Formulario de Carga" />
        <activity android:name=".RevisarPublicacionesActivity" />
        <activity android:name=".ActivityRuta" />


        <receiver android:name=".NotificationReceiver" android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDywKy6UjP9NjQDNmq1MJrvufZIyyvQoYw" />

    </application>

</manifest>

